/** {
  border: 1px solid black;
}*/

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

/*
I decided to use 850px as my container width, so several media requests
happen there - aligning header and featured-items with the container edge
*/
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  list-style: 1.2em;
  max-width: 850px;
  margin-left: auto;
  margin-right: auto;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

p {
  padding: 10px;
}

/* Remove container padding from HRs */
.line {
  margin-left: -15px;
  margin-right: -15px;
}

/*
*
* Header
*
*/

.header {
  padding: 10px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-text {
  margin-right: 5px;
  text-align: right;
}

/* Extend header to edge of container once window > 850px */
@media (min-width: 850px) {
  .header {
    margin: 0 -15px 0 -15px;
  }
  .header-text {
    margin-right: 0;
  }
}

.header > .logo {
  max-height: 100px;
}

#header-divider {
  margin-top: 0;
}

/*
*
* Main
*
*/

/*
*
* Main Image
*
*/

.main-image {
  max-height: 400px;
  width: 100%;

}

/*
*
* Featured
*
*/

.featured-header-container {
  margin: 10px -15px 10px -15px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #abb2bc;
}

@media (min-width: 576px) {
  .featured-section-header {
    font-size: 2.0rem;
  }
}

@media (min-width: 850px) {
  .featured-items {
    margin: 0 -30px 0 -30px;
  }
}

.featured-image {
  max-width: 100%;
}

.featured-item-heading {
  padding-top: 10px;
}

/*
*
* Bootstrap breakpoints for reference:
*
*/


/*// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }*/
